<h2>Create a Planet Form</h2>

<!--
Have a form tag
- method - HTTP verb to use
- action - Path to communicate with

  Have a whole heap of input tags
  - name attribute! Describes how we want the value stored in params

  Name - text
  Image - text
  Orbit - number
  Diameter - number
  Moons : number

  Submit button
-->
