<h1>This should show a search form</h1>

<!-- I need to create a form
  Send information to the server
  I need to specify an HTTP Method or Verb
  I need to specify a path that I want to communicate with
  I need to specify how I want to store the data
  I need a submit button

It needs two attributes
- action == path
- method == HTTP Method or Verb
-->

<form action="/search_results" method="GET">
  <label>What do you seek?</label>
  <input type="text" name="query">

  <input type="text" name="first_name">
  <input type="text" name="last_name">

  <input type="submit" value="Search">
</form>
