<h1>
  <%= @username %>'s Profile
</h1>

<!-- List all the this person's blog posts -->
<!-- List contact details -->

<img src="http://fillmurray.com/200/200">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ut quam nihil, beatae tempora voluptatem, et totam non incidunt aut dicta. Iste voluptatum, architecto quas voluptates hic animi deserunt quia.</p>
