<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our Animals App</title>
</head>
<body>

  <h1>Our Animals Application</h1>

  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>

  <hr>
  <%= yield %>
  <hr>

</body>
</html>
