body {
  background-color: ghostwhite;
  text-align: center;
  font-family: monospace;
}

body.calc {
  background-color: lightslategray;
  color: ghostwhite;
}

a {
  color: deeppink;
  text-decoration: none;
}
