<img src="http://unsplash.it/g/300/300" class="unsplash">

<div class="box-shadow">
  <h1>Box Shadow</h1>
</div>

<h3>TEXT SHADOW</h3>

<nav></nav>

<img src="http://fillmurray.com/450/450" class="bill">

<img src="http://placecage.com/400/400" class="nick">
