<h2>Interactive Dashboard</h2>

<div class="dynamic">

  <div class="fortune">
    <h4>Fortune:</h4>
    <p>Loading...</p>
    <button>Get new fortune!</button>
  </div>

  <div class="uptime">
    <h4>Uptime</h4>
    <p>Loading...</p>
    <button>Request uptime</button>
  </div>

  <div class="lottoNumbers">
    <h4>Lotto Numbers:</h4>
    <ul></ul>
    <button>Get new lucky numbers</button>
  </div>

</div>
