<div id="lotto">
  <h3>Lotto Numbers:</h3>
  <%= @lotto_numbers %>
</div>

<div id="uptime">
  <h3>Uptime:</h3>
  <%= @uptime %>
</div>

<div id="fortune">
  <h3>Fortune:</h3>
  <%= @fortune %>
</div>
