<h2>This is the about page</h2>

<img src="http://fillmurray.com/200/200">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dignissimos atque eaque repudiandae harum veniam illo provident at quisquam tempore quos, alias aut officiis fugit molestiae modi, assumenda autem in?</p>
<p>Cumque aperiam ab perspiciatis, laudantium odit aliquam quas. Nulla ipsa aliquam ullam ex quibusdam, nobis laudantium minima distinctio animi accusantium enim? Harum alias quaerat tempore. Amet nam, magni quidem a!</p>
