body {
  margin: 0;
}

#bill {
  width: 10vw;
  height: 10vw;
  position: fixed;
  top: 0;
  left: 0;
}

.controls {
  position: fixed;
  bottom: 50px;
  width: 100%;
  left: 0;
  text-align: center;
}

.stagger {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box {
  opacity: 1;
  width: 75px;
  height: 75px;
  border: 1px solid ghostwhite;
  border-radius: 10%;
  margin: 10px;
  display: inline-block;
  background: dodgerblue;
}

.box:nth-child(even) {
  background: tomato;
}
