body {
  min-height: 500vh;
  text-align: center;
  margin: 0;
  font-family: monospace;
}

img {
  margin: 50px 0;
}

header {
  background: aliceblue;
  height: 500px;
}

#divider {
  height: 100px;
  border: 1px solid black;
}

footer {
  background-color: lightslategray;
  height: 300px;
}

.container {
  width: 80%;
  max-width: 960px;
  padding: 10px 20px;
  margin: 0 auto;
}

.col {
  width: calc(100% / 3);
  min-height: 300px;
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px 20px;
}
